<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <h1>Editing Training Session</h1>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>


    <%= render 'form', training_session: @training_session %>



<%= link_to 'Show', @training_session %> |
<%= link_to 'Back', training_sessions_path %>
